@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');

:root {
  --main-primary: #2F5C8F;
  --primary-size: 26px;
  --secondary-size: 26px;

}

html {
  scroll-behavior: smooth;
}

body {
  font-size: var(--primary-size);
  line-height: 1.7em;
}

h1, h2{
  font-family: 'Mochiy Pop P One', sans-serif;
}

img {
  max-width:  100%;
  display:  block;
}

.caption {
  font-family: 'Mochiy Pop P One', sans-serif;
  text-shadow: 3px 3px black;
}

.content{
  padding: 16px;
}

.main-secondary{
  background-color: white;
  color: black;
}

.ml {
  margin-left: auto;
}
 .footer-position {
  position: relative;
 }

.arrow-position {
  position: absolute;
}

.carousel .carousel-item {
  height: 400px;
}

.carousel-item img {
    position: absolute;
    object-fit:cover;
    aspect-ratio: 1/1;
    top: 0;
    left: 0;
    min-height: 400px;
}

.card-img {
  width: 100%;
  aspect-ratio:  16/9;
  object-fit: cover;
}

.truncate {
  width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}


/*navbar 2*/
.nav-link1 {
  display: block;
  padding: 0.5rem 1rem;
  color:  white;
  font-family: 'Mochiy Pop P One', sans-serif;
}

.navbar-lewagon {
  justify-content: space-between;
  background: black;
}

.navbar-lewagon.scrolled {
  background-color:  ghostwhite !important;
  transition: background-color 200ms linear;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 3rem;
}

.navbar-toggler {
  box-shadow: 10px #4A4A4A !important;
}

/*avatar*/
.avatar {
  width: 40px;
  border-radius: 50%;
}

.avatar-large {
  width: 56px;
  border-radius: 50%;
}

.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

/*cards grid*/


.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: var(--primary-size);
}

/*// Smallest device*/
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/*banner */
/*card category*/
.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

/*footer */

.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: safe center;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

/*hover*/

.img-hover:hover {
 opacity: 0.7;
 cursor: pointer;
}


/*bottom card*/


@media (max-width: 767px) {
  .hide {
    display: none;
  }
}



/*Qcard-grid*/

.stacked {
  display: grid;
}

.stacked > * {
  grid-column: 1/2;
  grid-row: 1/2;
}

.Qcard-content {
  background: white;
  align-self: end;
  margin: 0 0 2rem;
  padding: .5rem;
  box-shadow: 0.25rem 1rem rgb(0, 0, 0 / .1);
}

.Qcard-container{
  max-width:  100rem;
  margin-inline:  auto;
  padding-inline:  auto;
}

.Qcard-grid {
  display: grid;
  grid-gap: .125rem;
  align-items: start;
  grid-template-columns:
    repeat(auto-fit,minmax(15rem,1fr));
}

.Qcard-img {
  width: 100%;
  aspect-ratio:  1 / 1.25;
  object-fit: cover;
}

@media (min-width: 40em){
  .Qcard-img {
    aspect-ratio:  1 / 1;
  }
}
